<HTML>
    <head>
       <title>Finished the Rails Tutotrial</title>    
    </head>
    <body>
        <p>
           Hi this is Oxana and I am very excited to have taken this class. Now when the clas is over, I can tell that I did learn a few things that I did not know before. 
           
           <ul>For example: 
               <li>I learned GitHub
               <li> I learned how to develop Rails app on c9
               <li> I learned how to run production app in Heroku
               <li> I learned about MVC paradime
               <li> I learned about Amazon cloud services
               <li> And I learned a lot about the Rails platform
           </ul>
           I must admit that until now I have never built a website and I feel great having done one now.
           Although Ruby seems to be doing the heavy lifting, I find Rails development a bit confusing 
           mainly because as a developer, I do not feel in control. 
        </p>
        <p>
            I do feel rewarded by seeing the results of my work very quickly. this makes me feel that Ruby on Rails is a good choice for doing 
        prototypes
    </p>
        <h1> Finished at last. It's almost SUMMER!!!! </h1>
    </body>
</HTML>
